*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Georgia,"Times New Roman",serif;
    background:#f6f1e7;
    color:#2d2418;
    line-height:1.7;
}

/* HERO */

header{
    min-height:100vh;
    background:
    linear-gradient(rgba(20,30,18,.60),rgba(20,30,18,.60)),
    url("ceaun.jpg.png");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:30px;
    color:white;
}

.container{
    max-width:800px;
    background:rgba(0,0,0,.35);
    padding:45px;
    border-radius:20px;
}

header h1{
    font-size:30px;
    letter-spacing:2px;
    text-transform:uppercase;
}

header h2{
    font-size:72px;
    color:#f4d38a;
    margin:15px 0;
}

header p{
    font-size:24px;
    margin-bottom:35px;
}

.button{
    display:inline-block;
    background:#6b3f1d;
    color:white;
    padding:15px 35px;
    border-radius:40px;
    text-decoration:none;
    border:2px solid #f4d38a;
    transition:.3s;
}

.button:hover{
    background:#4b2c14;
}

/* SECTIUNI */

section{
    max-width:1100px;
    margin:auto;
    padding:80px 25px;
}

h2{
    text-align:center;
    color:#31572c;
    font-size:40px;
    margin-bottom:30px;
}

.about,
.gallery,
#contact{
    text-align:center;
    font-size:20px;
}

.menu{
    background:white;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    margin-bottom:40px;
}

.menu ul{
    list-style:none;
    text-align:center;
    font-size:22px;
}

.menu li{
    padding:10px 0;
}

a{
    color:#31572c;
    font-weight:bold;
    text-decoration:none;
}

footer{
    background:#31572c;
    color:white;
    text-align:center;
    padding:30px;
}

/* TELEFON */

@media(max-width:768px){

header h2{
    font-size:46px;
}

header h1{
    font-size:22px;
}

header p{
    font-size:18px;
}

.container{
    padding:25px;
}

section{
    padding:60px 20px;
}

}
